<div class="dropdown-menu dropdown-menu-dark border-0 pt-0 mx-0 shadow overflow-hidden" size="20%">
  <form class="p-2 mb-2 bg-dark border-bottom border-dark">
    <input autocomplete="false" class="form-control form-control-dark" placeholder="Type to filter..." type="search">
  </form>
  <ul class="list-unstyled mb-0">
    <li>
      <a aria-expanded="false" class="dropdown-item d-flex align-items-center gap-2 py-2"
         data-bs-target="#home-collapse" data-bs-toggle="collapse" href="#" style="font-size: larger;">
        <span class="d-inline-block bg-primary rounded-circle" style="width: .5em; height: .5em;"></span>
        Home
      </a>
      <div class="collapse show" id="home-collapse">
        <ul class="list-unstyled mb-0">
          <li>
            <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-primary rounded-circle" style="width: .4em; height: .4em;"></span>
              Another action
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-primary rounded-circle" style="width: .4em; height: .4em;"></span>
              Another action
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<markdown
  [src]="'https://raw.githubusercontent.com/LinpgFoundation/linpg/master/README.md'" commandLine emoji lineHighlight
  lineNumbers
>
</markdown>
