# Auto detect text files and perform LF normalization
* text=auto
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
View/src/assets/css/style.css -linguist-detectable
View/src/assets/scss/*.scss -linguist-detectable
View/src/assets/scss/*/*.scss -linguist-detectable