/* You can add global styles to this file, and also import other style files */
.warning_messages {
  color: red;
}

.editor_dark .angular-editor-button {
  background-color: transparent !important;
  color: white !important;
}

.editor_dark .angular-editor-toolbar {
  background-color: transparent !important;
}

.editor_dark .ae-picker-label {
  background-color: transparent !important;
  color: white !important;
}

.editor_dark .ae-picker-options {
  background-color: #191a1f !important;
}
