<div class="container">
  <div class="row justify-content-center align-items-center vh-100 py-5">
    <!-- Main content START -->
    <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
      <!-- Sign in START -->
      <div class="card card-body text-center p-4 p-sm-5">
        <!-- Title -->
        <h1 class="mb-2">Sign in</h1>
        <p class="mb-0">Don't have an account?<a routerLink="/registration"> Click here to sign up</a></p>
        <!-- Form START -->
        <form (ngSubmit)="onSubmit()" class="mt-sm-4">
          <!-- Email -->
          <div class="mb-3 input-group-lg">
            <input [(ngModel)]="loginData['email']" class="form-control"
                   name="email" placeholder="Enter email" type="email">
            <p *ngIf="errorMessage['email']" class="warning_messages"
               style="text-align: left !important;">{{ errorMessage['email'] }}</p>
          </div>
          <!-- New password -->
          <div class="mb-3 position-relative">
            <!-- Password -->
            <div class="input-group input-group-lg">
              <input [(ngModel)]="loginData['password']" class="form-control fakepassword" id="psw-input"
                     name="password" placeholder="Enter new password"
                     type="password">
            </div>
            <p *ngIf="errorMessage['password']" class="warning_messages"
               style="text-align: left !important;">{{ errorMessage['password'] }}</p>
          </div>
          <!-- Remember me -->
          <div class="mb-3 d-sm-flex justify-content-between">
            <div></div>
            <a routerLink="/forgot-password">Forgot password?</a>
          </div>
          <!-- Button -->
          <div class="d-grid">
            <button *ngIf="isBlocked" class="btn btn-lg btn-primary">
              <div class="spinner-border" role="status"></div>
            </button>
            <button *ngIf="!isBlocked" class="btn btn-lg btn-primary" type="submit">Login</button>
          </div>
          <!-- Copyright -->
          <p class="mb-0 mt-3">©2023 Dawn Lit All rights reserved</p>
        </form>
        <!-- Form END -->
      </div>
      <!-- Sign in START -->
    </div>
  </div>
</div>
