<div class="container">
  <div class="row justify-content-center align-items-center vh-100 py-5">
    <!-- Main content START -->
    <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
      <!-- Sign up START -->
      <div class="card card-body rounded-3 p-4 p-sm-5">
        <div class="text-center">
          <!-- Title -->
          <h1 class="mb-2">Sign up</h1>
          <span class="d-block">Already have an account? <a href="/login">Sign in here</a></span>
        </div>
        <!-- Form START -->
        <form (ngSubmit)="onSubmit()" class="mt-4">
          <!-- Email -->
          <div class="mb-3 input-group-lg">
            <p>Username:</p>
            <input [(ngModel)]="registrationData['name']" class="form-control" name="name"
                   placeholder="Enter username"
                   type="text">
            <p *ngIf="errorMessage['name']" class="warning_messages">{{errorMessage['name']}}</p>
          </div>
          <!-- Email -->
          <div class="mb-3 input-group-lg">
            <p>Email:</p>
            <input [(ngModel)]="registrationData['email']" class="form-control" name="email" placeholder="Enter email"
                   type="email">
            <p *ngIf="errorMessage['email']" class="warning_messages">{{errorMessage['email']}}</p>
          </div>
          <!-- New password -->
          <div class="mb-3 position-relative">
            <!-- Input group -->
            <p>Password:</p>
            <div class="input-group input-group-lg">
              <br>
              <input [(ngModel)]="registrationData['password']" class="form-control fakepassword" id="psw-input"
                     name="password"
                     placeholder="Enter new password"
                     type="password">
              <span class="input-group-text p-0">
                  <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                </span>
            </div>
            <!-- Pswmeter
            <app-password-strength-bar [password]="registrationData['password']"></app-password-strength-bar>-->
            <p *ngIf="errorMessage['password']" class="warning_messages">{{errorMessage['password']}}</p>
          </div>
          <!-- Confirm password -->
          <div class="mb-3 input-group-lg">
            <p>Please confirm password</p>
            <input [(ngModel)]="registrationData['password_confirm']" class="form-control" name="password_confirm"
                   placeholder="Confirm password"
                   type="password">
            <p *ngIf="errorMessage['password_confirm']"
               class="warning_messages">{{errorMessage['password_confirm']}}</p>
          </div>
          <!-- Keep me signed in -->
          <div class="mb-3 text-start">
            <input class="form-check-input" id="keepsingnedCheck" type="checkbox">
            <label class="form-check-label" for="keepsingnedCheck"> Keep me signed in</label>
          </div>
          <!-- Button -->
          <div class="d-grid">
            <button *ngIf="isBlocked" class="btn btn-lg btn-primary">
              <div class="spinner-border" role="status"></div>
            </button>
            <button *ngIf="!isBlocked" class="btn btn-lg btn-primary" type="submit">Sign me up</button>
          </div>
          <!-- Copyright -->
          <p class="mb-0 mt-3 text-center">©2023 Dawn Lit All rights reserved</p>
        </form>
        <!-- Form END -->
      </div>
      <!-- Sign up END -->
    </div>
  </div> <!-- Row END -->
</div>
