.st0 {
  opacity: 0.2;
  fill: #0B2252;
}

.st1 {
  fill: #DAEEFF;
}

.st2 {
  fill: #6AC1FF;
}

.st3 {
  fill: #3FB790;
}

.st4 {
  fill: #34916F;
}

.st5 {
  fill: #90DAD8;
}

.st6 {
  fill: #FFFFFF;
}

.st7 {
  fill: url(#SVGID_1_);
}

.st8 {
  fill: #14336D;
}

.st9 {
  fill: #FFAA9D;
}

.st10 {
  fill: url(#SVGID_00000080196097221175926860000015854635151939166352_);
}

.st11 {
  fill: url(#SVGID_00000125570478491118859570000016173875777852424844_);
}

.st12 {
  fill: url(#SVGID_00000139994743433262585760000002217132992610938001_);
}

.st13 {
  fill: url(#SVGID_00000103980266939832754290000005538789883632006285_);
}
