<header class="navbar-light fixed-top header-static bg-mode">
  <app-navigation></app-navigation>
</header>
<!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- Container START -->
  <div class="container">
    <div class="row gx-0">
      <!-- Sidebar START -->
      <div class="col-lg-4 col-xxl-3" id="chatTabs" role="tablist">

        <!-- Divider -->
        <div class="d-flex align-items-center mb-4 d-lg-none">
          <button aria-controls="offcanvasNavbar" class="border-0 bg-transparent" data-bs-target="#offcanvasNavbar"
                  data-bs-toggle="offcanvas" type="button">
            <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">Chats</span>
          </button>
        </div>
        <!-- Advanced filter responsive toggler END -->
        <div class="card card-body border-end-0 border-bottom-0 rounded-bottom-0">
          <div class=" d-flex justify-content-between align-items-center">
            <h1 class="h5 mb-0">Active chats <span
              class="badge bg-success bg-opacity-10 text-success">{{currentUser.chats.length}}</span></h1>
            <!-- Chat new create message item START -->
            <div class="dropend position-relative">
              <div class="nav">
                <a class="icon-md rounded-circle btn btn-sm btn-primary-soft nav-link toast-btn" data-target="chatToast"
                   href="#"> <i class="bi bi-pencil-square"></i> </a>
              </div>
            </div>
            <!-- Chat new create message item END -->
          </div>
        </div>

        <nav class="navbar navbar-light navbar-expand-lg mx-0">
          <div class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
              <button class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" type="button"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body p-0">
              <div class="card card-chat-list rounded-end-lg-0 card-body border-end-lg-0 rounded-top-0">

                <!-- Search chat START -->
                <form class="position-relative">
                  <input aria-label="Search" class="form-control py-2" placeholder="Search for chats" type="search">
                  <button
                    class="btn bg-transparent text-secondary px-2 py-0 position-absolute top-50 end-0 translate-middle-y"
                    type="submit">
                    <i class="bi bi-search fs-5"></i>
                  </button>
                </form>
                <!-- Search chat END -->
                <!-- Chat list tab START -->
                <div class="mt-4 h-100">
                  <overlay-scrollbars [options]="scrollbarOptionsChatConversation" class="chat-tab-list">
                    <ul *ngFor="let chat of currentUser.chats" class="nav flex-column nav-pills nav-pills-soft">
                      <li data-bs-dismiss="offcanvas">
                        <!-- Chat user tab item -->
                        <a (click)="selectedChat=chat"
                           class="nav-link {{chat === selectedChat? 'active':''}} text-start"
                           data-bs-toggle="pill" href="#" id="chat-1-tab"
                           role="tab">
                          <div class="d-flex">
                            <div
                              class="flex-shrink-0 avatar {{selectedChat === chat? 'avatar-story':''}} me-2 status-online">
                              <app-avatar [classTags]="'rounded-circle'" [userData]="chat.target"></app-avatar>
                            </div>
                            <div class="flex-grow-1 d-block">
                              <h6 class="mb-0 mt-1">{{chat.target.name}}</h6>
                              <div class="small text-secondary"></div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </overlay-scrollbars>
                </div>
                <!-- Chat list tab END -->
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- Sidebar START -->

      <!-- Chat conversation START -->
      <div class="col-lg-8 col-xxl-9">
        <div class="card card-chat rounded-start-lg-0 border-start-lg-0">
          <div class="card-body h-50">
            <div class="tab-content py-0 mb-0 h-100" id="chatTabsContent">
              <!-- Conversation item START -->
              <div aria-labelledby="chat-1-tab" class="fade tab-pane show active h-100" id="chat-1" role="tabpanel">
                <!-- Top avatar and status START -->
                <div class="d-sm-flex justify-content-between align-items-center">
                  <div class="d-flex mb-2 mb-sm-0">
                    <div class="flex-shrink-0 avatar me-2">
                      <app-avatar *ngIf="selectedChat != null" [classTags]="'rounded-circle'"
                                  [userData]="selectedChat.target"></app-avatar>
                    </div>
                    <div *ngIf="selectedChat != null" class="d-block flex-grow-1">
                      <h6 class="mb-0 mt-1">{{selectedChat.target.name}}</h6>
                      <div class="small text-secondary"><i class="fa-solid fa-circle text-success me-1"></i>Online</div>
                    </div>
                  </div>
                  <div *ngIf="selectedChat != null" class="d-flex align-items-center">
                    <!-- Call button -->
                    <a class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" data-bs-placement="top"
                       data-bs-toggle="tooltip"
                       href="#" title="Audio call"><i class="bi bi-telephone-fill"></i></a>
                    <a class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" data-bs-placement="top"
                       data-bs-toggle="tooltip"
                       href="#" title="Video call"><i class="bi bi-camera-video-fill"></i></a>
                    <!-- Card action START -->
                    <div class="dropdown">
                      <a aria-expanded="false" class="icon-md rounded-circle btn btn-primary-soft me-2 px-2"
                         data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#"
                         id="chatcoversationDropdown" role="button"><i
                        class="bi bi-three-dots-vertical"></i></a>
                      <ul aria-labelledby="chatcoversationDropdown" class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-check-lg me-2 fw-icon"></i>Mark as
                          read</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-mic-mute me-2 fw-icon"></i>Mute
                          conversation</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person-check me-2 fw-icon"></i>View
                          profile</a></li>
                        <li><a (click)="removeChat()" class="dropdown-item" type="button"><i
                          class="bi bi-trash me-2 fw-icon"></i>Delete chat</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-archive me-2 fw-icon"></i>Archive chat</a>
                        </li>
                      </ul>
                    </div>
                    <!-- Card action END -->
                  </div>
                </div>
                <!-- Top avatar and status END -->
                <hr>
                <!-- Chat conversation START -->
                <overlay-scrollbars [options]="scrollbarOptionsChatConversation" class="chat-conversation-content">
                  <!-- Chat time -->
                  <div class="text-center small my-2" hidden="hidden">Jul 16, 2022, 06:15 am</div>
                  <div *ngFor="let message of selectedChat?.messages">
                    <!-- Chat message left -->
                    <div *ngIf="message.sender.id != this.currentUser.id" class="d-flex mb-1">
                      <div class="flex-shrink-0 avatar avatar-xs me-2">
                        <app-avatar *ngIf="selectedChat !=null" [classTags]="'rounded-circle'"
                                    [userData]="selectedChat.target"></app-avatar>
                      </div>
                      <div class="flex-grow-1">
                        <div class="w-100">
                          <div class="d-flex flex-column align-items-start">
                            <div class="bg-light text-secondary p-2 px-3 rounded-2">{{message.content}}
                            </div>
                            <div class="small my-2">{{message.createdAt}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Chat message right -->
                    <div *ngIf="message.sender.id == this.currentUser.id"
                         class="d-flex justify-content-end text-end mb-1">
                      <div class="w-100">
                        <div class="d-flex flex-column align-items-end">
                          <div class="bg-primary text-white p-2 px-3 rounded-2">{{message.content}}
                          </div>
                          <div class="d-flex my-2">
                            <div class="small text-secondary">{{message.createdAt}}</div>
                            <div class="small ms-2"><i class="fa-solid fa-check-double text-info"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Chat time -->
                  <div class="text-center small my-2" hidden="hidden">2 New Messages</div>
                  <!-- Chat message left -->
                  <div *ngIf="false" class="d-flex mb-2">
                    <div class="flex-shrink-0 avatar avatar-xs me-2">
                      <img alt="" class="avatar-img rounded-circle" src="assets/images/avatar/10.jpg">
                    </div>
                    <div class="flex-grow-1">
                      <div class="w-100">
                        <div class="d-flex flex-column align-items-start">
                          <div class="bg-light text-secondary p-2 px-3 rounded-2">Traveling alteration impression 🤐 six
                            all uncommonly Chamber hearing inhabit joy highest private.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Chat message left -->
                  <div *ngIf="false" class="d-flex mb-1">
                    <div class="flex-shrink-0 avatar avatar-xs me-2">
                      <img alt="" class="avatar-img rounded-circle" src="assets/images/avatar/10.jpg">
                    </div>
                    <div class="flex-grow-1">
                      <div class="w-100">
                        <div class="d-flex flex-column align-items-start">
                          <div class="bg-light text-secondary p-3 rounded-2">
                            <div class="typing d-flex align-items-center">
                              <div class="dot"></div>
                              <div class="dot"></div>
                              <div class="dot"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </overlay-scrollbars>
                <!-- Chat conversation END -->
              </div>
              <!-- Conversation item END -->
            </div>
          </div>
          <div *ngIf="selectedChat!=null" class="card-footer">
            <div *ngIf="isEmojiMartVisible" style="position: absolute; bottom: 5rem; right: 0">
              <emoji-mart (emojiClick)="addEmoji($event)" emoji="point_up" title="Pick your emoji…"></emoji-mart>
            </div>
            <form (ngSubmit)="sendMessage()" class="d-sm-flex align-items-end">
              <textarea [(ngModel)]="getMessageEntered(selectedChat).content" class="form-control mb-sm-0 mb-3"
                        data-autoresize
                        name="content"
                        placeholder="Type a message" rows="1"></textarea>
              <button (click)="isEmojiMartVisible = !isEmojiMartVisible" class="btn btn-sm btn-success ms-sm-2"
                      type='button'><i class="bi bi-emoji-smile-fill fs-6"></i>
              </button>
              <button class="btn btn-sm btn-secondary-soft ms-2" type='button'><i class="bi bi-paperclip fs-6"></i>
              </button>
              <button class="btn btn-sm btn-primary ms-2" disabled="{{isInputNotEmpty()? '' :'disabled'}}"
                      type="submit"><i class="bi bi-send-fill fs-6"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- Chat conversation END -->
    </div> <!-- Row END -->
    <!-- =======================
    Chat END -->

  </div>
  <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Chat START -->
<div class="position-fixed bottom-0 end-0 p-3">

  <!-- Chat toast START -->
  <div aria-atomic="true" aria-live="assertive" class="toast bg-mode" data-bs-autohide="false" id="chatToast"
       role="alert">
    <div class="toast-header bg-mode d-flex justify-content-between">
      <!-- Title -->
      <h6 class="mb-0">New message</h6>
      <button aria-label="Close" class="btn btn-secondary-soft-hover py-1 px-2" data-bs-dismiss="toast"><i
        class="fa-solid fa-xmark"></i></button>
    </div>
    <!-- Top avatar and status END -->
    <div class="toast-body collapse show" id="collapseChat">
      <!-- Chat conversation START -->
      <!-- Form -->
      <form>
        <div class="input-group mb-3">
          <span class="input-group-text border-0">To</span>
          <input class="form-control" placeholder="Type a name or multiple names" type="text">
        </div>
      </form>
      <!-- Chat conversation END -->
      <!-- Extra space -->
      <div class="h-200px"></div>
      <!-- Button  -->
      <div class="d-sm-flex align-items-end">
        <textarea class="form-control mb-sm-0 mb-3" placeholder="Type a message" rows="1" spellcheck="false"></textarea>
        <button class="btn btn-sm btn-danger-soft ms-sm-2"><i class="fa-solid fa-face-smile fs-6"></i></button>
        <button class="btn btn-sm btn-secondary-soft ms-2"><i class="fa-solid fa-paperclip fs-6"></i></button>
        <button class="btn btn-sm btn-primary ms-2"><i class="fa-solid fa-paper-plane fs-6"></i></button>
      </div>
    </div>
  </div>
  <!-- Chat toast END -->

</div>
<!-- Chat END -->
