<header class="navbar-light fixed-top header-static bg-mode">
  <app-navigation></app-navigation>
</header>
<main>
  <div class="container">
    <div class="row">

      <!-- Sidenav START -->
      <div class="col-lg-3">

        <!-- Advanced filter responsive toggler START -->
        <!-- Divider -->
        <div class="d-flex align-items-center mb-4 d-lg-none">
          <button aria-controls="offcanvasNavbar" class="border-0 bg-transparent" data-bs-target="#offcanvasNavbar"
                  data-bs-toggle="offcanvas" type="button">
            <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">Settings</span>
          </button>
        </div>
        <!-- Advanced filter responsive toggler END -->

        <nav class="navbar navbar-light navbar-expand-lg mx-0">
          <div class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1">
            <!-- Offcanvas header -->
            <div class="offcanvas-header">
              <button aria-label="Close" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                      type="button"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body p-0">
              <!-- Card START -->
              <div class="card w-100">
                <!-- Card body START -->
                <div class="card-body">

                  <!-- Side Nav START -->
                  <ul class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0 active" data-bs-toggle="tab" href="#nav-setting-tab-1"> <img
                        alt="" class="me-2 h-20px fa-fw"
                        height="16" ngSrc="assets/images/icon/person-outline-filled.svg"
                        width="16"><span>Account </span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas" hidden="hidden">
                      <a class="nav-link d-flex mb-0" data-bs-toggle="tab" href="#nav-setting-tab-2"> <img
                        alt="" class="me-2 h-20px fa-fw"
                        height="16" ngSrc="assets/images/icon/notification-outlined-filled.svg" width="16"><span>Notification </span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas" hidden="hidden">
                      <a class="nav-link d-flex mb-0" data-bs-toggle="tab" href="#nav-setting-tab-3"> <img
                        alt="" class="me-2 h-20px fa-fw" height="16"
                        ngSrc="assets/images/icon/shield-outline-filled.svg"
                        width="16"><span>Privacy and safety </span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas" hidden="hidden">
                      <a class="nav-link d-flex mb-0" data-bs-toggle="tab" href="#nav-setting-tab-4"> <img
                        alt="" class="me-2 h-20px fa-fw" height="16"
                        ngSrc="assets/images/icon/handshake-outline-filled.svg"
                        width="16"><span>Communications </span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas" hidden="hidden">
                      <a class="nav-link d-flex mb-0" data-bs-toggle="tab" href="#nav-setting-tab-5"> <img
                        alt="" class="me-2 h-20px fa-fw" height="16"
                        ngSrc="assets/images/icon/chat-alt-outline-filled.svg" width="16"><span>Messaging </span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0" data-bs-toggle="tab" href="#nav-setting-tab-6"> <img
                        alt="" class="me-2 h-20px fa-fw" height="16"
                        ngSrc="assets/images/icon/trash-var-outline-filled.svg"
                        width="16"><span>Close account </span></a>
                    </li>
                  </ul>
                  <!-- Side Nav END -->

                </div>
                <!-- Card body END -->
                <!-- Card footer -->
                <div class="card-footer text-center py-2">
                  <a class="btn btn-link text-secondary btn-sm" href="#!">View Profile </a>
                </div>
              </div>
              <!-- Card END -->
            </div>
            <!-- Offcanvas body -->

            <!-- Helper link START -->
            <ul class="nav small mt-4 justify-content-center lh-1" hidden="hidden">
              <li class="nav-item">
                <a class="nav-link" href="my-profile-about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="settings.html">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://support.webestica.com/login" target="_blank">Support </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="docs/index.html" target="_blank">Docs </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help.html">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="privacy-and-terms.html">Privacy & terms</a>
              </li>
            </ul>
            <!-- Helper link END -->
            <!-- Copyright -->
            <p class="small text-center mt-1">©2023 <a class="text-body" href="https://www.webestica.com/"
                                                       target="_blank"> Dawn Lit </a></p>

          </div>
        </nav>
      </div>
      <!-- Sidenav END -->

      <!-- Main content START -->
      <div class="col-lg-6 vstack gap-4">
        <!-- Setting Tab content START -->
        <div class="tab-content py-0 mb-0">

          <!-- Account setting tab START -->
          <div class="tab-pane show active fade" id="nav-setting-tab-1">

            <!-- Avatar settings START -->
            <div class="card mb-4">
              <!-- Title START -->
              <div class="card-header border-0 pb-0">
                <h1 class="h5 card-title">Avatar</h1>
              </div>
              <!-- Card header START -->
              <!-- Card body START -->
              <div *ngIf="userData != null" class="card-body">
                <div class="avatar text-center d-none d-sm-inline-block">
                  <app-avatar [classTags]="'rounded-circle'" [userData]="userData"></app-avatar>
                </div>
                <dropzone [config]="config" [message]="'Click or drag image here to upload'"
                          style="width: 50%"></dropzone>
              </div>

              <!-- Card body END -->
            </div>
            <!-- Avatar settings END -->

            <!-- Account settings START -->
            <div class="card mb-4">
              <!-- Title START -->
              <div class="card-header border-0 pb-0">
                <h1 class="h5 card-title">Account Settings</h1>
                <p class="mb-0">Customize your account information.</p>
              </div>
              <!-- Card header START -->
              <!-- Card body START -->
              <div *ngIf="userData != null" class="card-body">
                <!-- Form settings START -->
                <form (ngSubmit)="saveChanges()" class="row g-3">
                  <!-- User name -->
                  <div class="col-sm-6">
                    <label class="form-label">User name</label>
                    <input [(ngModel)]="userData.name" class="form-control" name="name" type="text"
                           value="{{userData.name}}">
                    <p *ngIf="errorMessage['name']" class="warning_messages">{{errorMessage['name']}}</p>
                  </div>
                  <!-- Email -->
                  <div class="col-sm-6">
                    <label class="form-label">Email</label>
                    <input class="form-control" disabled type="text" value="{{userData.email}}">
                  </div>
                  <!-- Github -->
                  <div class="col-sm-6">
                    <label class="form-label">Github</label>
                    <input [(ngModel)]="userData.github" [maxLength]="40" class="form-control" name="github" type="text"
                           value="{{userData.github}}">
                  </div>
                  <!-- Page information -->
                  <div class="col-12">
                    <label class="form-label">Signature</label>
                    <textarea [(ngModel)]="userData.signature" [maxLength]="100" class="form-control"
                              name="signature" placeholder="Description (Required)"
                              rows="2">{{userData.signature}}</textarea>
                    <small>Character limit: {{userData.signature.length}}/100</small>
                    <p *ngIf="errorMessage['signature']" class="warning_messages">{{errorMessage['signature']}}</p>
                  </div>
                  <div class="col-12">
                    <label class="form-label">About</label>
                    <textarea [(ngModel)]="userData.about" [maxLength]="500" class="form-control"
                              name="about" placeholder="Description (Required)"
                              rows="4">{{userData.about}}</textarea>
                    <small>Character limit: {{userData.about.length}}/500</small>
                    <p *ngIf="errorMessage['about']" class="warning_messages">{{errorMessage['about']}}</p>
                  </div>
                  <!-- Button  -->
                  <div class="col-12 text-end">
                    <button class="btn btn-sm btn-primary mb-0" type="submit">Save changes</button>
                  </div>
                </form>
                <!-- Settings END -->
              </div>
              <!-- Card body END -->
            </div>
            <!-- Account settings END -->

            <!-- Change your password START -->
            <div class="card">
              <!-- Title START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Change your password</h5>
                <p class="mb-0">It is always a good idea to use strong password and change your password frequently.</p>
              </div>
              <!-- Title START -->
              <div class="card-body">
                <!-- Settings START -->
                <form (ngSubmit)="updatePassword()" class="row g-3">
                  <!-- Current password -->
                  <div class="col-12">
                    <label class="form-label">Current password</label>
                    <div class="input-group">
                      <input [(ngModel)]="passwordData['password']" class="form-control fakepassword"
                             name="password" placeholder="Enter your current password"
                             type="{{passwordsTypes['cp']}}">
                      <span class="input-group-text p-0">
                        <i (click)="togglePasswordVisibility('cp')"
                           class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                      </span>
                    </div>
                    <p *ngIf="errorMessage['password']" class="warning_messages">{{errorMessage['password']}}</p>
                  </div>
                  <!-- New password -->
                  <div class="col-12">
                    <label class="form-label">New password</label>
                    <div class="input-group">
                      <input [(ngModel)]="passwordData['newPassword']" class="form-control fakepassword"
                             name="newPassword" placeholder="Enter new password"
                             type="{{passwordsTypes['np']}}">
                      <span class="input-group-text p-0">
                        <i (click)="togglePasswordVisibility('np')"
                           class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                      </span>
                    </div>
                    <!-- Pswmeter -->
                    <password-strength-meter [password]="passwordData['newPassword']"></password-strength-meter>
                    <p *ngIf="errorMessage['newPassword']" class="warning_messages">{{errorMessage['newPassword']}}</p>
                  </div>
                  <!-- Confirm password -->
                  <div class="col-12">
                    <label class="form-label">Confirm password</label>
                    <div class="input-group">
                      <input [(ngModel)]="passwordData['passwordConfirm']" class="form-control"
                             name="passwordConfirm" placeholder="Re-enter your new password"
                             type="{{passwordsTypes['np2']}}">
                      <span class="input-group-text p-0">
                        <i (click)="togglePasswordVisibility('np2')"
                           class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                      </span>
                    </div>
                    <p *ngIf="errorMessage['passwordConfirm']"
                       class="warning_messages">{{errorMessage['passwordConfirm']}}</p>
                  </div>
                  <!-- Button  -->
                  <div class="col-12 text-end">
                    <button class="btn btn-primary mb-0" type="submit">Update password</button>
                  </div>
                </form>
                <!-- Settings END -->
              </div>
            </div>
            <!-- Card END -->
          </div>
          <!-- Account setting tab END -->

          <!-- Notification tab START -->
          <div class="tab-pane fade" id="nav-setting-tab-2">
            <!-- Notification START -->
            <div class="card">
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Notification</h5>
                <p class="mb-0">Tried law yet style child. The bore of true of no be deal. Frequently sufficient to be
                  unaffected. The furnished she concluded depending procuring concealed. </p>
              </div>
              <!-- Card header START -->
              <!-- Card body START -->
              <div class="card-body pb-0">
                <!-- Notification START -->
                <ul class="list-group list-group-flush">
                  <!-- Notification list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                    <div class="me-2">
                      <h6 class="mb-0">Likes and Comments</h6>
                      <p class="small mb-0">Joy say painful removed reached end.</p>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="NotiSwitchCheckChecked" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Notification list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                    <div class="me-2">
                      <h6 class="mb-0">Reply to My comments</h6>
                      <p class="small mb-0">Ask a quick six seven offer see among.</p>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="NotiSwitchCheckChecked2" role="switch"
                             type="checkbox">
                    </div>
                  </li>
                  <!-- Notification list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                    <div class="me-2">
                      <h6 class="mb-0">Subscriptions</h6>
                      <p class="small mb-0">Preference any astonished unreserved Mrs.</p>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" id="NotiSwitchCheckChecked3" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Notification list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                    <div class="me-2">
                      <h6 class="mb-0">Birthdays</h6>
                      <p class="small mb-0">Contented he gentleman agreeable do be</p>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" id="NotiSwitchCheckChecked4" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Notification list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                    <div class="me-2">
                      <h6 class="mb-0">Events</h6>
                      <p class="small mb-0">Fulfilled direction use continually.</p>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="NotiSwitchCheckChecked5" role="switch"
                             type="checkbox">
                    </div>
                  </li>
                  <!-- Notification list item -->
                  <li class="list-group-item px-0 py-3">
                    <!-- Accordion START -->
                    <div class="accordion accordion-flush border-0" id="emailNotifications">
                      <!-- Accordion item -->
                      <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <a aria-controls="flush-collapseOne" aria-expanded="false"
                             class="accordion-button mb-0 p-0 collapsed bg-transparent shadow-none"
                             data-bs-target="#flush-collapseOne" data-bs-toggle="collapse"
                             href="#!">
                            <span>
                              <span class="mb-0 h6 d-block">Email notifications</span>
                              <small class="small mb-0 text-secondary">As hastened oh produced prospect. </small>
                            </span>
                          </a>
                        </h2>
                        <div aria-labelledby="flush-headingOne" class="accordion-collapse collapse"
                             data-bs-parent="#emailNotifications" id="flush-collapseOne">
                          <div class="accordion-body p-0 pt-3">
                            <!-- Notification list item -->
                            <div class="form-check">
                              <input checked class="form-check-input" id="NotiSwitchCheckChecked6" type="checkbox"
                                     value="">
                              <label class="form-check-label" for="NotiSwitchCheckChecked6">
                                Product emails
                              </label>
                            </div>
                            <!-- Notification list item -->
                            <div class="form-check">
                              <input class="form-check-input" id="NotiSwitchCheckChecke7" type="checkbox" value="">
                              <label class="form-check-label" for="NotiSwitchCheckChecke7">
                                Feedback emails
                              </label>
                            </div>
                            <hr>
                            <div class="mt-3">
                              <h6>Email frequency</h6>
                              <!-- Notification list item -->
                              <div class="form-check">
                                <input class="form-check-input" id="NotiRadio1" name="NotiRadio" type="radio">
                                <label class="form-check-label" for="NotiRadio1">
                                  Daily
                                </label>
                              </div>
                              <!-- Notification list item -->
                              <div class="form-check">
                                <input checked class="form-check-input" id="NotiRadio2" name="NotiRadio" type="radio">
                                <label class="form-check-label" for="NotiRadio2">
                                  Weekly
                                </label>
                              </div>
                              <!-- Notification list item -->
                              <div class="form-check">
                                <input class="form-check-input" id="NotiRadio3" name="NotiRadio" type="radio">
                                <label class="form-check-label" for="NotiRadio3">
                                  Periodically
                                </label>
                              </div>
                              <!-- Notification list item -->
                              <div class="form-check">
                                <input checked class="form-check-input" id="NotiRadio4" name="NotiRadio" type="radio">
                                <label class="form-check-label" for="NotiRadio4">
                                  Off
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Accordion END -->
                  </li>
                  <!-- Notification list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                    <div class="me-2">
                      <h6 class="mb-0">Push notifications</h6>
                      <p class="small mb-0">Rendered six say his striking confined. </p>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="NotiSwitchCheckChecked8" role="switch"
                             type="checkbox">
                    </div>
                  </li>
                  <!-- Notification list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0 py-3">
                    <div class="me-2">
                      <h6 class="mb-0">Weekly account summary <span class="badge bg-primary smaller"> Pro only</span>
                      </h6>
                      <p class="small mb-0">Rendered six say his striking confined. </p>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" disabled id="NotiSwitchCheckChecked9" role="switch"
                             type="checkbox">
                    </div>
                  </li>
                </ul>
                <!-- Notification END -->

              </div>
              <!-- Card body END -->
              <!-- Button save -->
              <div class="card-footer pt-0 text-end border-0">
                <button class="btn btn-sm btn-primary mb-0" type="submit">Save changes</button>
              </div>
            </div>
            <!-- Notification END -->
          </div>
          <!-- Notification tab END -->

          <!-- Privacy and safety tab START -->
          <div class="tab-pane fade" id="nav-setting-tab-3">
            <!-- Privacy and safety START -->
            <div class="card">
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Privacy and safety</h5>
                <p class="mb-0">See information about your account, download an archive of your data, or learn about
                  your account deactivation options</p>
              </div>
              <!-- Card header START -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Privacy START -->
                <ul class="list-group">

                  <!-- Privacy item -->
                  <li class="list-group-item d-md-flex justify-content-between align-items-start">
                    <div class="me-md-3">
                      <h6 class="mb-0"> Use two-factor authentication</h6>
                      <p class="small mb-0">Unaffected occasional thoroughly. Adieus it no wonders spirit houses. </p>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i class="bi bi-pencil-square"></i> Change
                    </button>
                  </li>

                  <!-- Privacy item -->
                  <li class="list-group-item d-md-flex justify-content-between align-items-start">
                    <div class="me-md-3">
                      <h6 class="mb-0">Login activity</h6>
                      <p class="small mb-0">Select the language you use on social</p>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0" data-bs-target="#modalLoginActivity"
                            data-bs-toggle="modal"><i class="bi bi-eye"></i> View
                    </button>
                  </li>

                  <!-- Privacy item -->
                  <li class="list-group-item d-md-flex justify-content-between align-items-start">
                    <div class="me-md-3">
                      <h6 class="mb-0">Manage your data and activity</h6>
                      <p class="small mb-0">Select a language for translation</p>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i class="bi bi-pencil-square"></i> Change
                    </button>
                  </li>

                  <!-- Privacy item -->
                  <li class="list-group-item d-md-flex justify-content-between align-items-start">
                    <div class="me-md-3">
                      <h6 class="mb-0">Search history</h6>
                      <p class="small mb-0">Choose to autoplay videos on social</p>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i class="bi bi-pencil-square"></i> Change
                    </button>
                  </li>

                  <!-- Privacy item -->
                  <li class="list-group-item d-md-flex justify-content-between align-items-start">
                    <div class="me-md-3">
                      <h6 class="mb-0">Permitted services</h6>
                      <p class="small mb-0">Choose if this feature appears on your profile</p>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i class="bi bi-pencil-square"></i> Change
                    </button>
                  </li>
                </ul>
                <!-- Privacy END -->
              </div>
              <!-- Card body END -->
              <!-- Button save -->
              <div class="card-footer pt-0 text-end border-0">
                <button class="btn btn-sm btn-primary mb-0" type="submit">Save changes</button>
              </div>
            </div>
            <!-- Privacy and safety END -->
          </div>
          <!-- Privacy and safety tab END -->

          <!-- Communications tab START -->
          <div class="tab-pane fade" id="nav-setting-tab-4">
            <!-- Communications START -->
            <div class="card">
              <!-- Title START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Who can connect with you?</h5>
                <p class="mb-0">He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire
                  difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>
              </div>
              <!-- Title START -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Accordion START -->
                <div class="accordion" id="communications">
                  <!-- Accordion item -->
                  <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="communicationOne">
                      <button aria-controls="communicationcollapseOne" aria-expanded="true"
                              class="accordion-button mb-0 h6"
                              data-bs-target="#communicationcollapseOne" data-bs-toggle="collapse"
                              type="button">
                        Connection request
                      </button>
                    </h2>
                    <!-- Accordion info -->
                    <div aria-labelledby="communicationOne" class="accordion-collapse collapse show"
                         data-bs-parent="#communications" id="communicationcollapseOne">
                      <div class="accordion-body">
                        <!-- Notification list item -->
                        <div class="form-check">
                          <input class="form-check-input" id="ComRadio5" name="ComRadio" type="radio">
                          <label class="form-check-label" for="ComRadio5">
                            Everyone on social (recommended)
                          </label>
                        </div>
                        <!-- Notification list item -->
                        <div class="form-check">
                          <input checked class="form-check-input" id="ComRadio2" name="ComRadio" type="radio">
                          <label class="form-check-label" for="ComRadio2">
                            Only people who know your email address
                          </label>
                        </div>
                        <!-- Notification list item -->
                        <div class="form-check">
                          <input class="form-check-input" id="ComRadio3" name="ComRadio" type="radio">
                          <label class="form-check-label" for="ComRadio3">
                            Only people who appear in your mutual connection list
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Accordion item -->
                  <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="communicationTwo">
                      <button aria-controls="communicationcollapseTwo" aria-expanded="false"
                              class="accordion-button mb-0 h6 collapsed"
                              data-bs-target="#communicationcollapseTwo" data-bs-toggle="collapse"
                              type="button">
                        Who can message you
                      </button>
                    </h2>
                    <!-- Accordion info -->
                    <div aria-labelledby="communicationTwo" class="accordion-collapse collapse"
                         data-bs-parent="#communications" id="communicationcollapseTwo">
                      <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                          <!-- Notification list item -->
                          <li
                            class="list-group-item d-sm-flex justify-content-between align-items-center px-0 py-1 border-0">
                            <div class="me-2">
                              <p class="mb-0">Enable message request notifications</p>
                            </div>
                            <div class="form-check form-switch">
                              <input class="form-check-input" id="comSwitchCheckChecked" role="switch" type="checkbox">
                            </div>
                          </li>
                          <!-- Notification list item -->
                          <li
                            class="list-group-item d-sm-flex justify-content-between align-items-center px-0 py-1 border-0">
                            <div class="me-2">
                              <p class="mb-0">Allow connections to add you on group </p>
                            </div>
                            <div class="form-check form-switch">
                              <input checked class="form-check-input" id="comSwitchCheckChecked2" role="switch"
                                     type="checkbox">
                            </div>
                          </li>
                          <!-- Notification list item -->
                          <li
                            class="list-group-item d-sm-flex justify-content-between align-items-center px-0 py-1 border-0">
                            <div class="me-2">
                              <p class="mb-0">Allow Sponsored Messages </p>
                              <p class="small">Your personal information is safe with our marketing partners unless you
                                respond to their Sponsored Messages </p>
                            </div>
                            <div class="form-check form-switch">
                              <input checked class="form-check-input" id="comSwitchCheckChecked3" role="switch"
                                     type="checkbox">
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Accordion item -->
                  <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="communicationThree">
                      <button aria-controls="communicationcollapseThree" aria-expanded="false"
                              class="accordion-button mb-0 h6 collapsed"
                              data-bs-target="#communicationcollapseThree" data-bs-toggle="collapse"
                              type="button">
                        How people can find you
                      </button>
                    </h2>
                    <!-- Accordion info -->
                    <div aria-labelledby="communicationThree" class="accordion-collapse collapse"
                         data-bs-parent="#communications" id="communicationcollapseThree">
                      <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                          <!-- Notification list item -->
                          <li
                            class="list-group-item d-sm-flex justify-content-between align-items-center px-0 py-1 border-0">
                            <div class="me-2">
                              <p class="mb-0">Allow search engines to show your profile?</p>
                            </div>
                            <div class="form-check form-switch">
                              <input checked class="form-check-input" id="comSwitchCheckChecked4" role="switch"
                                     type="checkbox">
                            </div>
                          </li>
                          <!-- Notification list item -->
                          <li
                            class="list-group-item d-sm-flex justify-content-between align-items-center px-0 py-1 border-0">
                            <div class="me-2">
                              <p class="mb-0">Allow people to search by your email address? </p>
                            </div>
                            <div class="form-check form-switch">
                              <input class="form-check-input" id="comSwitchCheckChecked5" role="switch" type="checkbox">
                            </div>
                          </li>
                          <!-- Notification list item -->
                          <li
                            class="list-group-item d-sm-flex justify-content-between align-items-center px-0 py-1 border-0">
                            <div class="me-2">
                              <p class="mb-0">Allow Sponsored Messages </p>
                              <p class="small">Your personal information is safe with our marketing partners unless you
                                respond to their Sponsored Messages </p>
                            </div>
                            <div class="form-check form-switch">
                              <input checked class="form-check-input" id="comSwitchCheckChecked6" role="switch"
                                     type="checkbox">
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Accordion END -->
              </div>
              <!-- Card body END -->
              <!-- Button save -->
              <div class="card-footer pt-0 text-end border-0">
                <button class="btn btn-sm btn-primary mb-0" type="submit">Save changes</button>
              </div>
            </div>
            <!-- Communications  END -->
          </div>
          <!-- Communications tab END -->

          <!-- Messaging tab START -->
          <div class="tab-pane fade" id="nav-setting-tab-5">
            <!-- Messaging privacy START -->
            <div class="card mb-4">
              <!-- Title START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Messaging privacy settings</h5>
                <p class="mb-0">As young ye hopes no he place means. Partiality diminution gay yet entreaties
                  admiration. In mention perhaps attempt pointed suppose. Unknown ye chamber of warrant of Norland
                  arrived. </p>
              </div>
              <!-- Title START -->
              <div class="card-body">
                <!-- Settings style START -->
                <ul class="list-group list-group-flush">
                  <!-- Message list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Enable message request notifications</h6>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="msgSwitchCheckChecked" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Message list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Invitations from your network</h6>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="msgSwitchCheckChecked2" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Message list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Allow connections to add you on group</h6>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" id="msgSwitchCheckChecked3" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Message list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Reply to comments</h6>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" id="msgSwitchCheckChecked4" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Message list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Messages from activity on my page or channel</h6>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="msgSwitchCheckChecked5" role="switch" type="checkbox">
                    </div>
                  </li>
                  <!-- Message list item -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Personalise tips for my page</h6>
                    </div>
                    <div class="form-check form-switch">
                      <input checked class="form-check-input" id="msgSwitchCheckChecked6" role="switch" type="checkbox">
                    </div>
                  </li>
                </ul>
                <!-- Message END -->
              </div>
              <!-- Button save -->
              <div class="card-footer pt-0 text-end border-0">
                <button class="btn btn-sm btn-primary mb-0" type="submit">Save changes</button>
              </div>
            </div>
            <!-- Messaging privacy END -->
            <!-- Messaging experience START -->
            <div class="card">
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Messaging experience</h5>
                <p class="mb-0">Arrived off she elderly beloved him affixed noisier yet. </p>
              </div>
              <!-- Card header START -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Message START -->
                <ul class="list-group list-group-flush">
                  <!-- Message list item -->
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Read receipts and typing indicators</h6>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i class="bi bi-pencil-square"></i> Change
                    </button>
                  </li>
                  <!-- Message list item -->
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Message suggestions</h6>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i class="bi bi-pencil-square"></i> Change
                    </button>
                  </li>
                  <!-- Message list item -->
                  <li class="list-group-item d-sm-flex justify-content-between align-items-center px-0">
                    <div class="me-2">
                      <h6 class="mb-0">Message nudges</h6>
                    </div>
                    <button class="btn btn-primary-soft btn-sm mt-1 mt-md-0"><i class="bi bi-pencil-square"></i> Change
                    </button>
                  </li>
                </ul>
                <!-- Message END -->
              </div>
              <!-- Card body END -->
              <!-- Button save -->
              <div class="card-footer pt-0 text-end border-0">
                <button class="btn btn-sm btn-primary mb-0" type="submit">Save changes</button>
              </div>
            </div>
            <!-- Messaging experience END -->
          </div>
          <!-- Messaging tab END -->

          <!-- Close account tab START -->
          <div class="tab-pane fade" id="nav-setting-tab-6">
            <!-- Card START -->
            <div class="card">
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Delete account</h5>
                <p class="mb-0">Are you sure? It is sad to see you leave!</p>
              </div>
              <!-- Card header START -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Delete START -->
                <h6>Before you go...</h6>
                <ul>
                  <li hidden="hidden">Take a backup of your data <a href="#">Here</a></li>
                  <li>If you delete your account, you will lose your all data.</li>
                </ul>
                <div class="form-check form-check-md my-4">
                  <input [(ngModel)]="deleteAccountConfirmed" class="form-check-input" id="deleteaccountCheck"
                         type="checkbox">
                  <label class="form-check-label">Yes, I'd like to delete my account</label>
                </div>
                <a class="btn btn-success-soft btn-sm mb-2 mb-sm-0" routerLink="/settings">Keep my account</a>
                <button (click)="deleteUser()" class="btn btn-danger btn-sm mb-0"
                        disabled="{{!deleteAccountConfirmed ? 'disabled':''}}"
                        href="">Delete my account
                </button>
                <!-- Delete END -->
              </div>
              <!-- Card body END -->
            </div>
            <!-- Card END -->
          </div>
          <!-- Close account tab END -->

        </div>
        <!-- Setting Tab content END -->
      </div>

    </div> <!-- Row END -->
  </div>
</main>
