<!-- Story START -->
<div *ngIf="enablePost" class="d-flex gap-2 mb-n3">
  <div class="position-relative">
    <div
      class="card border border-2 border-dashed h-150px px-4 px-sm-5 shadow-none d-flex align-items-center justify-content-center text-center">
      <div>
        <a class="stretched-link btn btn-light rounded-circle icon-md" data-bs-target="#feedActionBlog"
           data-bs-toggle="modal" type="button"><i
          class="bi bi-plus-lg"></i></a>
        <h6 class="mt-2 mb-0 small">Post a Blog</h6>
      </div>
    </div>
  </div>

  <!-- Stories -->
  <div class="storiesWrapper stories-square stories user-icon carousel scroll-enable" id="stories"></div>
</div>
<!-- Story END -->

<!-- Share feed START -->
<div *ngIf="enablePost" class="card card-body">
  <div class="d-flex mb-3">
    <!-- Avatar -->
    <div class="avatar avatar-xs me-2">
      <app-avatar *ngIf="userData" [classTags]="'rounded-circle'" [userData]="userData"></app-avatar>
    </div>
    <a class="nav-link py-1 px-2" data-bs-target="#feedActionPost" data-bs-toggle="modal" id="start_post"
       type="button">Start a post</a>
  </div>
  <!-- Share feed toolbar END -->
</div>
<!-- Share feed END -->

<!-- Card feed item START -->
<div *ngFor="let _post of posts" class="card">
  <!-- Card header START -->
  <div class="card-header border-0 pb-0">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="avatar {{userData != null && _post.author.id == userData.id? 'avatar-story' : ''}} me-2">
          <a href="./profile?id={{_post.author.id}}">
            <app-avatar [classTags]="'rounded-circle'" [userData]="_post.author"></app-avatar>
          </a>
        </div>
        <!-- Info -->
        <div>
          <div class="nav nav-divider">
            <h6 class="nav-item card-title mb-0"><a href="./profile?id={{_post.author.id}}"> {{_post.author.name}} </a>
            </h6>
            <span class="nav-item small"> {{getExistenceTime(_post)}}</span>
          </div>
          <p class="mb-0 small">{{_post.author.signature}}</p>
        </div>
      </div>
      <!-- Card feed action dropdown START -->
      <div *ngIf="userData!= null" class="dropdown">
        <a aria-expanded="false" class="text-secondary btn btn-secondary-soft-hover py-1 px-2"
           data-bs-toggle="dropdown"
           id="cardFeedAction" type="button">
          <i class="bi bi-three-dots"></i>
        </a>
        <!-- Card feed action dropdown menu -->
        <ul *ngIf="_post.author.id == userData.id" aria-labelledby="cardFeedAction"
            class="dropdown-menu dropdown-menu-end">
          <li>
            <a (click)="postToEdit=_post" class="dropdown-item" data-bs-target="#feedActionEditPost"
               data-bs-toggle="modal"
               type="button">
              <i class="bi bi-pencil-square fa-fw pe-2"></i>Edit post</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a (click)="deletePost(_post)" class="dropdown-item" type="button"><i class="bi bi-trash fa-fw pe-2"></i>Delete
            post</a></li>
        </ul>
        <ul *ngIf="_post.author.id != userData!.id" aria-labelledby="cardFeedAction"
            class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" type="button"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
          <li hidden="hidden"><a class="dropdown-item" type="button"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow
            lori ferguson
          </a></li>
          <li><a class="dropdown-item" type="button"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
          <li><a class="dropdown-item" type="button"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" type="button"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
        </ul>
      </div>
      <!-- Card feed action dropdown END -->
    </div>
  </div>
  <!-- Card header END -->
  <!-- Card body START -->
  <div class="card-body">
    <p [innerHTML]="_post.content"></p>
    <!-- Feed react START -->
    <ul class="nav nav-stack py-3 small">
      <li class="nav-item">
        <a (click)="likePost(_post)" class="nav-link {{hasCurrentUserLiked(_post)? 'active':''}}"
           data-bs-container="body"
           data-bs-custom-class="tooltip-text-start"
           data-bs-html="true"
           data-bs-placement="top"
           data-bs-toggle="tooltip"
           type="button"
        >
          <i class="bi bi-hand-thumbs-up-fill pe-1"></i>{{hasCurrentUserLiked(_post) ? "Liked" : "Like"}}
          ({{_post.likedBy.length}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{hasCurrentUserCommented(_post)?'active':''}}" type="button"> <i
          class="bi bi-chat-fill pe-1"></i>Comments ({{_post.comments.length}})</a>
      </li>
      <!-- Card share action START -->
      <li class="nav-item dropdown ms-sm-auto" hidden="hidden">
        <a aria-expanded="false" class="nav-link mb-0" data-bs-toggle="dropdown" href="#" id="cardShareAction">
          <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
        </a>
        <!-- Card share action dropdown menu -->
        <ul aria-labelledby="cardShareAction" class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
            Message</a></li>
          <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a>
          </li>
          <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
          <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
            Feed</a></li>
        </ul>
      </li>
      <!-- Card share action END -->
    </ul>
    <!-- Feed react END -->

    <!-- Add comment -->
    <div *ngIf="userData!=null" class="d-flex mb-3">
      <!-- Avatar -->
      <div class="avatar avatar-xs me-2">
        <a href="./profile?id={{userData.id}}">
          <app-avatar *ngIf="userData" [classTags]="'rounded-circle'" [userData]="userData"></app-avatar>
        </a>
      </div>
      <!-- Comment box  -->
      <form (ngSubmit)="createComment(_post)" class="nav nav-item w-100 position-relative">
                <textarea [(ngModel)]="obtainCommentTemplate(_post).content" class="form-control pe-5 bg-light"
                          data-autoresize name="content"
                          placeholder="Add a comment..." rows="1"></textarea>
        <button class="nav-link bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0">
          <i class="bi bi-send-fill"> </i>
        </button>
      </form>
    </div>
    <!-- Comment wrap START -->
    <ul class="comment-wrap list-unstyled">
      <!-- Comment item START -->
      <li *ngFor="let _comment of _post.comments" class="comment-item">
        <div class="d-flex position-relative">
          <!-- Avatar -->
          <div class="avatar avatar-xs">
            <a href="./profile?id={{_comment.author.id}}">
              <app-avatar [classTags]="'rounded-circle'" [userData]="_comment.author"></app-avatar>
            </a>
          </div>
          <div class="ms-2">
            <!-- Comment by -->
            <div class="bg-light rounded-start-top-0 p-3 rounded">
              <div class="d-flex justify-content-between">
                <h6 class="mb-1"><a href="./profile?id={{_comment.author.id}}">{{_comment.author.name}}</a></h6>
                <small class="ms-2">{{getExistenceTime(_comment)}}</small>
              </div>
              <p class="small mb-0">{{_comment.content}}</p>
            </div>
            <!-- Comment react -->
            <ul class="nav nav-divider py-2 small">
              <li class="nav-item">
                <a (click)="likeComment(_comment)"
                   class="nav-link {{hasCurrentUserLiked(_comment)? 'active':''}}"
                   type="button"> {{hasCurrentUserLiked(_comment) ? "Liked" : "Like"}} ({{_comment.likedBy.length}})</a>
              </li>
              <li class="nav-item" hidden="hidden">
                <a class="nav-link" type="button"> Reply</a>
              </li>
              <li class="nav-item" hidden="hidden">
                <a class="nav-link" type="button"> View 5 replies</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Comment item nested START -->
        <ul class="comment-item-nested list-unstyled" hidden="hidden">
          <!-- Comment item START -->
          <li class="comment-item">
            <div class="d-flex">
              <!-- Avatar -->
              <div class="avatar avatar-xs">
                <a href="#!"><img alt="" class="avatar-img rounded-circle"
                                  src="/assets/images/avatar/06.jpg"></a>
              </div>
              <!-- Comment by -->
              <div class="ms-2">
                <div class="bg-light p-3 rounded">
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-1"><a href="#!"> Lori Stevens </a></h6>
                    <small class="ms-2">2hr</small>
                  </div>
                  <p class="small mb-0">See resolved goodness felicity shy civility domestic had but Drawings
                    offended yet answered Jennings perceive.</p>
                </div>
                <!-- Comment react -->
                <ul class="nav nav-divider py-2 small">
                  <li class="nav-item">
                    <a class="nav-link" href="#!"> Like (5)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!"> Reply</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Comment item END -->
          <!-- Comment item START -->
          <li class="comment-item">
            <div class="d-flex">
              <!-- Avatar -->
              <div class="avatar avatar-story avatar-xs">
                <a href="#!"><img alt="" class="avatar-img rounded-circle"
                                  src="/assets/images/avatar/07.jpg"></a>
              </div>
              <!-- Comment by -->
              <div class="ms-2">
                <div class="bg-light p-3 rounded">
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-1"><a href="#!"> Billy Vasquez </a></h6>
                    <small class="ms-2">15min</small>
                  </div>
                  <p class="small mb-0">Wishing calling is warrant settled was lucky.</p>
                </div>
                <!-- Comment react -->
                <ul class="nav nav-divider py-2 small">
                  <li class="nav-item">
                    <a class="nav-link" href="#!"> Like</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!"> Reply</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Comment item END -->
        </ul>
        <!-- Load more replies -->
        <div hidden="hidden">
          <a aria-pressed="true"
             class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5"
             data-bs-toggle="button"
             href="#!" role="button">
            <div class="spinner-dots me-2">
              <span class="spinner-dot"></span>
              <span class="spinner-dot"></span>
              <span class="spinner-dot"></span>
            </div>
            Load more replies
          </a>
        </div>
        <!-- Comment item nested END -->
      </li>
      <!-- Comment item END -->
    </ul>
    <!-- Comment wrap END -->
  </div>
  <!-- Card body END -->
  <!-- Card footer START -->
  <div class="card-footer border-0 pt-0" hidden="hidden">
    <!-- Load more comments -->
    <a aria-pressed="true" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center"
       data-bs-toggle="button"
       href="#!" role="button">
      <div class="spinner-dots me-2">
        <span class="spinner-dot"></span>
        <span class="spinner-dot"></span>
        <span class="spinner-dot"></span>
      </div>
      Load more comments
    </a>
  </div>
  <!-- Card footer END -->
</div>
<!-- Card feed item END -->

<!-- Load more button START -->
<a aria-pressed="true" class="btn btn-loader btn-primary-soft" data-bs-toggle="button" href="#!" role="button">
  <span class="load-text"> Load more </span>
  <div class="load-icon">
    <div class="spinner-grow spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</a>
<!-- Load more button END -->

<!-- Modal create blog START -->
<div aria-hidden="true" aria-labelledby="feedActionBlogLabel" class="modal fade" id="feedActionBlog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="feedActionBlogLabel">What do you want to talk about?</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Add Feed -->
        <div class="mb-3">
          <!-- Avatar -->
          <p><strong>Title:</strong></p>
          <input [(ngModel)]="newBlog.title">
          <p *ngIf="blogErrorMessage['title']" class="warning_messages">{{blogErrorMessage['title']}}</p>
          <p></p>
          <p><strong>Content:</strong></p>
          <angular-editor [(ngModel)]="newBlog.content" [config]="editorConfig"
                          class="editor_{{Theme.get()}}"></angular-editor>
          <p *ngIf="blogErrorMessage['content']" class="warning_messages">{{blogErrorMessage['content']}}</p>
        </div>

      </div>
      <!-- Modal feed body END -->

      <!-- Modal feed footer -->
      <div class="modal-footer ">
        <!-- Button -->
        <button class="btn btn-danger-soft me-2" data-bs-dismiss="modal" type="button">Cancel</button>
        <button (click)="createBlog()" class="btn btn-success-soft" type="button">Post</button>
      </div>
      <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Modal create blog END -->

<!-- Modal create post START -->
<div aria-hidden="true" aria-labelledby="feedActionPostLabel" class="modal fade" id="feedActionPost" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="feedActionPostLabel">What do you want to talk about?</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Add Feed -->
        <div class="d-flex mb-3">
          <!-- Avatar -->
          <div class="avatar avatar-xs me-2">
            <app-avatar *ngIf="userData" [classTags]="'rounded-circle'" [userData]="userData"></app-avatar>
          </div>
          <angular-editor [(ngModel)]="newPost.content" [config]="editorConfig"
                          class="editor_{{Theme.get()}}"></angular-editor>
        </div>
        <p *ngIf="postErrorMessage['content']" class="warning_messages">{{postErrorMessage['content']}}</p>
      </div>
      <!-- Modal feed body END -->

      <!-- Modal feed footer -->
      <div class="modal-footer ">
        <!-- Button -->
        <button class="btn btn-danger-soft me-2" data-bs-dismiss="modal" type="button">Cancel</button>
        <button (click)="createPost()" class="btn btn-success-soft" type="button">Post</button>
      </div>
      <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Modal create post END -->

<!-- Modal edit post START -->
<div aria-hidden="true" aria-labelledby="feedActionEditPostLabel" class="modal fade" id="feedActionEditPost"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="feedActionEditPostLabel">Edit the Post</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Add Feed -->
        <div class="d-flex mb-3">
          <!-- Avatar -->
          <div class="avatar avatar-xs me-2">
            <app-avatar *ngIf="userData" [classTags]="'rounded-circle'" [userData]="userData"></app-avatar>
          </div>
          <angular-editor [(ngModel)]="postToEdit.content" [config]="editorConfig"
                          class="editor_{{Theme.get()}}"></angular-editor>
        </div>
        <p *ngIf="postErrorMessage['content']" class="warning_messages">{{postErrorMessage['content']}}</p>
      </div>
      <!-- Modal feed body END -->

      <!-- Modal feed footer -->
      <div class="modal-footer ">
        <!-- Button -->
        <button class="btn btn-danger-soft me-2" data-bs-dismiss="modal" type="button">Cancel</button>
        <button (click)="updatePost()" class="btn btn-success-soft" type="button">Update</button>
      </div>
      <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Modal edit post END -->
