<div class="card">
  <!-- Card header START -->
  <div class="card-header border-0 pb-0">
    <h5 class="card-title"> Connections</h5>
  </div>
  <!-- Card header END -->
  <!-- Card body START -->
  <div class="card-body">
    <!-- Connections Item -->
    <div *ngFor="let friend of friends" class="d-md-flex align-items-center mb-4">
      <!-- Avatar -->
      <div class="avatar me-3 mb-3 mb-md-0">
        <app-avatar [classTags]="'rounded-circle'" [userData]="friend"></app-avatar>
      </div>
      <!-- Info -->
      <div class="w-100">
        <div class="d-sm-flex align-items-start">
          <h6 class="mb-0"><a href="/profile?id={{friend.id}}">{{ friend.name }}</a></h6>
          <p class="small ms-sm-2 mb-0">{{ friend.signature }}</p>
        </div>
        <!-- Connections START -->
        <ul class="avatar-group mt-1 list-unstyled align-items-sm-center" hidden="hidden">
          <li class="avatar avatar-xxs">
            <img alt="avatar" class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg">
          </li>
          <li class="avatar avatar-xxs">
            <img alt="avatar" class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg">
          </li>
          <li class="avatar avatar-xxs">
            <img alt="avatar" class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg">
          </li>
          <li class="avatar avatar-xxs">
            <img alt="avatar" class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg">
          </li>
          <li class="avatar avatar-xxs">
            <div class="avatar-img rounded-circle bg-primary"><span
              class="smaller text-white position-absolute top-50 start-50 translate-middle">+2</span></div>
          </li>
          <li class="small ms-3">
            Carolyn Ortiz, Frances Guerrero, and 20 other shared connections
          </li>
        </ul>
        <!-- Connections END -->
      </div>
      <!-- Button -->
      <div *ngIf="enableButtons" class="ms-md-auto d-flex">
        <button (click)="removeFriend(friend)" class="btn btn-danger-soft btn-sm mb-0 me-2"> Remove</button>
        <button class="btn btn-primary-soft btn-sm mb-0"> Message</button>
      </div>
    </div>

    <div class="d-grid">
      <!-- Load more button START -->
      <a aria-pressed="true" class="btn btn-sm btn-loader btn-primary-soft" data-bs-toggle="button" href="#!"
         role="button">
        <span class="load-text"> Load more connections </span>
        <div class="load-icon">
          <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </a>
      <!-- Load more button END -->
    </div>

  </div>
  <!-- Card body END -->
</div>
