<!-- Plugins CSS -->
<link href="/assets/vendor/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
<link href="/assets/vendor/tiny-slider/dist/tiny-slider.css" rel="stylesheet" type="text/css">
<link href="/assets/vendor/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" type="text/css">
<link href="/assets/vendor/glightbox-master/dist/css/glightbox.min.css" rel="stylesheet" type="text/css">
<link href="/assets/vendor/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
<link href="/assets/vendor/flatpickr/dist/flatpickr.css" rel="stylesheet" type="text/css">
<link href="/assets/vendor/plyr/plyr.css" rel="stylesheet" type="text/css">

<!-- Logo Nav START -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo START -->
    <a class="navbar-brand" href=".">
      <img alt="logo" class="light-mode-item navbar-brand-item" src="/assets/images/logo.svg">
      <img alt="logo" class="dark-mode-item navbar-brand-item" src="/assets/images/logo.svg">
    </a>
    <!-- Logo END -->

    <!-- Responsive navbar toggler -->
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler ms-auto icon-md btn btn-light p-0" data-bs-target="#navbarCollapse"
            data-bs-toggle="collapse"
            type="button">
      <span class="navbar-toggler-animation">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <!-- Main navbar START -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Nav Search START -->
      <div class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0">
        <div class="nav-item w-100">
          <form class="rounded position-relative">
            <input aria-label="Search" class="form-control ps-5 bg-light" placeholder="Search..." type="search">
            <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y"
                    type="submit"><i class="bi bi-search fs-5"> </i></button>
          </form>
        </div>
      </div>
      <!-- Nav Search END -->
    </div>
    <!-- Main navbar END -->

    <!-- Nav right START -->
    <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
      <li *ngIf="userData!=null" class="nav-item ms-2">
        <a class="nav-link icon-md btn btn-light p-0" href="/messaging">
          <i class="bi bi-chat-left-text-fill fs-6"> </i>
        </a>
      </li>
      <li *ngIf="userData!=null" class="nav-item ms-2">
        <a class="nav-link icon-md btn btn-light p-0" href="/settings">
          <i class="bi bi-gear-fill fs-6"> </i>
        </a>
      </li>
      <li *ngIf="userData!=null" class="nav-item dropdown ms-2">
        <a aria-expanded="false" class="nav-link icon-md btn btn-light p-0" data-bs-auto-close="outside"
           data-bs-toggle="dropdown"
           href="#" id="notifDropdown" role="button">
          <span *ngIf="userData.requests.length > 0" class="badge-notif animation-blink"></span>
          <i class="bi bi-bell-fill fs-6"> </i>
        </a>
        <div aria-labelledby="notifDropdown"
             class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h6 class="m-0">Notifications <span *ngIf="userData.requests.length > 0"
                                                  class="badge bg-danger bg-opacity-10 text-danger ms-2">{{userData.requests.length}}
                new</span>
              </h6>
              <a *ngIf="userData.requests.length > 0" class="small" href="#">Clear all</a>
            </div>
            <div class="card-body p-0">
              <ul class="list-group list-group-flush list-unstyled p-2">
                <!-- Notif item -->
                <li *ngFor="let reqFrom of userData.requests">
                  <div class="list-group-item list-group-item-action rounded badge-unread d-flex border-0 mb-1 p-3">
                    <div class="avatar text-center d-none d-sm-inline-block">
                      <app-avatar [classTags]="'rounded-circle'" [userData]="userData"></app-avatar>
                    </div>
                    <div class="ms-sm-3">
                      <div class=" d-flex">
                        <p class="small mb-2"><b>{{reqFrom.sender.name}}</b> sent you a friend request.</p>
                        <p class="small ms-3 text-nowrap">{{getExistenceTime(reqFrom)}}</p>
                      </div>
                      <div class="d-flex">
                        <button (click)="acceptFriendRequest(reqFrom.sender)" class="btn btn-sm py-1 btn-primary me-2">
                          Accept
                        </button>
                        <button (click)="rejectFriendRequest(reqFrom.sender)" class="btn btn-sm py-1 btn-danger-soft">
                          Reject
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngIf="!(userData.requests.length > 0)" style="text-align: center">Empty</li>
              </ul>
            </div>
            <div *ngIf="userData.requests.length > 0" class="card-footer text-center">
              <a class="btn btn-sm btn-primary-soft" href="#">See all incoming activity</a>
            </div>
          </div>
        </div>
      </li>
      <!-- Notification dropdown END -->

      <li class="nav-item ms-2 dropdown">
        <a *ngIf="userData==null" class="nav-link icon-md btn btn-light p-0" href="/login">
          <i class="bi bi-door-open-fill fs-6"> </i>
        </a>
        <a *ngIf="userData!=null" aria-expanded="false" class="nav-link btn icon-md p-0"
           data-bs-auto-close="outside"
           data-bs-display="static" data-bs-toggle="dropdown"
           href="#" id="profileDropdown" role="button">
          <app-avatar [classTags]="'rounded-2'" [userData]="userData" class="icon-md"></app-avatar>
        </a>
        <ul *ngIf="userData!=null" aria-labelledby="profileDropdown"
            class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3">
          <!-- Profile info -->
          <li class="px-3">
            <div class="d-flex align-items-center position-relative">
              <!-- Avatar -->
              <div class="avatar me-3">
                <app-avatar [classTags]="'rounded-circle'" [userData]="userData"></app-avatar>
              </div>
              <div>
                <a class="h6 stretched-link" href="#">{{userData.name}}</a>
                <p class="small m-0">{{userData.signature}}</p>
              </div>
            </div>
            <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="/profile?id={{userData.id}}">View
              profile</a>
          </li>
          <!-- Links -->
          <li>
            <a class="dropdown-item" href="/settings"><i class="bi bi-gear fa-fw me-2"></i>Settings & Privacy</a>
          </li>
          <li class="dropdown-divider"></li>
          <li><a (click)="logOff()" class="dropdown-item bg-danger-soft-hover" href="."><i
            class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <!-- Dark mode options START -->
          <li>
            <div
              class="modeswitch-item theme-icon-active d-flex justify-content-center gap-3 align-items-center p-2 pb-0">
              <span>Mode:</span>
              <button class="btn btn-modeswitch nav-link text-primary-hover mb-0 bi bi-brightness-high-fill"
                      data-bs-placement="top" data-bs-theme-value="light" data-bs-title="Light"
                      data-bs-toggle="tooltip" type="button"></button>
              <button class="btn btn-modeswitch nav-link text-primary-hover mb-0 bi bi-moon-stars-fill"
                      data-bs-placement="top" data-bs-theme-value="dark" data-bs-title="Dark" data-bs-toggle="tooltip"
                      type="button"></button>
              <button class="btn btn-modeswitch nav-link text-primary-hover mb-0 bi bi-circle-half"
                      data-bs-placement="top" data-bs-theme-value="auto" data-bs-title="Auto" data-bs-toggle="tooltip"
                      type="button"></button>
            </div>
          </li>
          <!-- Dark mode options END-->
        </ul>
      </li>
      <!-- Profile START -->

    </ul>
    <!-- Nav right END -->
  </div>
</nav>
<!-- Logo Nav END -->
