<header class="navbar-light fixed-top header-static bg-mode">
  <app-navigation></app-navigation>
</header>

<main>

  <!-- Container START -->
  <div class="container">
    <div class="row g-4">
      <!-- Main content START -->
      <div class="col-lg-8 mx-auto">
        <div *ngIf="blog!=null" class="vstack gap-4">
          <!-- Blog single START -->
          <div class="card card-body">
            <div class="mt-4">
              <!-- Title info -->
              <h1 class="mb-2 h2">{{blog.title}}</h1>
              <ul class="nav nav-stack gap-3 align-items-center">
                <li class="nav-item">
                  <div class="nav-link">
                    by <a class="text-reset btn-link" href="/profile?id={{blog.author.id}}">{{blog.author.name}}</a>
                  </div>
                </li>
                <li class="nav-item"><i class="bi bi-calendar-date pe-1"></i>{{getDateString(blog.createdAt)}}</li>
              </ul>
              <!-- description -->
              <p [innerHTML]="blog.content"></p>
            </div>
            <!-- Card feed action dropdown START -->
            <div *ngIf="currentUser!= null && blog.author.id == currentUser.id" class="dropdown">
              <a aria-expanded="false" class="text-secondary btn btn-secondary-soft-hover py-1 px-2"
                 data-bs-toggle="dropdown"
                 id="cardFeedAction" type="button">
                <i class="bi bi-three-dots"></i>
              </a>
              <ul aria-labelledby="cardFeedAction"
                  class="dropdown-menu dropdown-menu-end">
                <li>
                  <a (click)="updateBlogToEdit(blog)" class="dropdown-item" data-bs-target="#feedActionEditBlog"
                     data-bs-toggle="modal"
                     type="button">
                    <i class="bi bi-pencil-square fa-fw pe-2"></i>Edit blog</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a (click)="deleteBlog(blog)" class="dropdown-item" type="button"><i
                  class="bi bi-trash fa-fw pe-2"></i>Delete
                  blog</a></li>
              </ul>
            </div>
            <!-- Card feed action dropdown END -->
          </div>
          <!-- Card END -->
          <!-- Comments START -->
          <div class="card">
            <div *ngIf="blog.comments.length>0" class="card-header pb-0 border-0">
              <h4>{{blog.comments.length}} comments</h4>
            </div>
            <div class="card-body">
              <!-- Comments START -->
              <div *ngFor="let reply of blog.comments" class="my-4 d-flex">
                <div class="avatar me-3">
                  <app-avatar [classTags]="'avatar-md rounded-circle float-start me-3'"
                              [userData]="reply.author"></app-avatar>
                </div>
                <div>
                  <div class="mb-2 d-sm-flex">
                    <h6 class="m-0 me-2">{{reply.author.name}}</h6>
                    <span class="me-3 small">{{getDateString(reply.createdAt)}}</span>
                  </div>
                  <p>{{reply.content}}</p>
                  <a class="btn btn-light btn-sm" hidden="hidden">Reply</a>
                </div>
              </div>
              <!-- Comments END -->
              <hr *ngIf="blog.comments.length>0" class="my-4">
              <!-- Reply START -->
              <div>
                <h4>Leave a reply</h4>
                <form (ngSubmit)="createComment()" class="row g-3 mt-2">
                  <!-- Your Comment -->
                  <div class="col-12">
                    <textarea [(ngModel)]="newComment.content" class="form-control" name="content" rows="3"></textarea>
                    <p *ngIf="newCommentErrorMessage['content']"
                       class="warning_messages">{{newCommentErrorMessage['content']}}</p>
                  </div>
                  <!-- Button -->
                  <div class="col-12">
                    <button [disabled]="newComment.content.length<=0" class="btn btn-primary" type="submit">
                      <span *ngIf="isBlocked" aria-hidden="true" class="spinner-border spinner-border-sm"
                            role="status"></span>
                      <span *ngIf="isBlocked">&nbsp;</span>
                      Post comment
                    </button>
                  </div>
                </form>
              </div>
              <!-- Reply END -->
            </div>
          </div>
          <!-- Blog single END -->
        </div>
      </div>
      <!-- Main content END -->
    </div> <!-- Row END -->
  </div>
  <!-- Container END -->
</main>

<!-- Modal create blog START -->
<div aria-hidden="true" aria-labelledby="feedActionEditBlogLabel" class="modal fade" id="feedActionEditBlog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="feedActionEditBlogLabel">What do you want to talk about?</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Add Feed -->
        <div class="mb-3">
          <!-- Avatar -->
          <p><strong>Title:</strong></p>
          <input [(ngModel)]="blogToEditTempDummy.title">
          <p *ngIf="blogErrorMessage['title']" class="warning_messages">{{blogErrorMessage['title']}}</p>
          <p></p>
          <p><strong>Content:</strong></p>
          <angular-editor [(ngModel)]="blogToEditTempDummy.content" [config]="editorConfig"
                          class="editor_{{Theme.get()}}"></angular-editor>
          <p *ngIf="blogErrorMessage['content']" class="warning_messages">{{blogErrorMessage['content']}}</p>
        </div>

      </div>
      <!-- Modal feed body END -->

      <!-- Modal feed footer -->
      <div class="modal-footer ">
        <!-- Button -->
        <button class="btn btn-danger-soft me-2" data-bs-dismiss="modal" type="button">Cancel</button>
        <button (click)="updateBlog()"
                [disabled]="blogToEditTempDummy.content.length<=0 || blogToEditTempDummy.title.length<=0"
                class="btn btn-success-soft"
                type="button">
          <span *ngIf="isBlocked" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
          <span *ngIf="isBlocked">&nbsp;</span>
          Update
        </button>
      </div>
      <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Modal create blog END -->
