<header class="navbar-light fixed-top header-static bg-mode">
  <app-navigation></app-navigation>
</header>

<main>

  <!-- Container START -->
  <div class="container">
    <div class="row g-4">
      <!-- Main content START -->
      <div class="col-lg-8 mx-auto">
        <div *ngIf="blog!=null" class="vstack gap-4">
          <!-- Blog single START -->
          <div class="card card-body">
            <img alt="" class="rounded" src="assets/images/post/16by9/big/03.jpg">
            <div class="mt-4">
              <!-- Title info -->
              <h1 class="mb-2 h2">{{blog.title}}</h1>
              <ul class="nav nav-stack gap-3 align-items-center">
                <li class="nav-item">
                  <div class="nav-link">
                    by <a class="text-reset btn-link" href="/profile?id={{blog.author.id}}">{{blog.author.name}}</a>
                  </div>
                </li>
                <li class="nav-item"><i class="bi bi-calendar-date pe-1"></i>{{getDateString(blog.createdAt)}}</li>
              </ul>
              <!-- description -->
              <p [innerHTML]="blog.content"></p>
            </div>
          </div>
          <!-- Card END -->
          <!-- Comments START -->
          <div class="card">
            <div *ngIf="blog.comments.length>0" class="card-header pb-0 border-0">
              <h4>{{blog.comments.length}} comments</h4>
            </div>
            <div class="card-body">
              <!-- Comments START -->
              <div *ngFor="let reply of blog.comments" class="my-4 d-flex">
                <app-avatar [classTags]="'rounded border border-white border-3'"
                            [userData]="reply.author"></app-avatar>
                <div>
                  <div class="mb-2 d-sm-flex">
                    <h6 class="m-0 me-2">{{reply.author.name}}</h6>
                    <span class="me-3 small">{{getDateString(reply.createdAt)}}</span>
                  </div>
                  <p>{{reply.content}}</p>
                  <a class="btn btn-light btn-sm" href="#">Reply</a>
                </div>
              </div>
              <!-- Comments END -->
              <hr *ngIf="blog.comments.length>0" class="my-4">
              <!-- Reply START -->
              <div>
                <h4>Leave a reply</h4>
                <form (ngSubmit)="createComment()" class="row g-3 mt-2">
                  <!-- Your Comment -->
                  <div class="col-12">
                    <textarea [(ngModel)]="newComment.content" class="form-control" name="content" rows="3"></textarea>
                    <p *ngIf="newCommentErrorMessage['content']">{{newCommentErrorMessage['content']}}</p>
                  </div>
                  <!-- Button -->
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Post comment</button>
                  </div>
                </form>
              </div>
              <!-- Reply END -->
            </div>
          </div>
          <!-- Blog single END -->
        </div>
      </div>
      <!-- Main content END -->
    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>
